*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font--normal: 400;
  --font--bold: 700;
  --color--primary: #5f6caf;
  --color--dark: #000839;
  --purple: #856c8b;
  --light--blue: #b9cced;
  --light--green: #bbded6;
  --grey--lightest: #fdfdfd;
  --polygon--big--color: #f4f4f4;
  --ellipses--color: #ebebeb;
  --white: #fff;
  --radial--gradient: radial-gradient(
    ellipse farthest-corner at 0 -140%,
    #f6e7e6 0%,
    hsla(166, 35%, 80%, 0.7) 70%,
    hsla(166, 35%, 80%, 0.5) 70%
  );
}

:focus {
  --yellow-highlight: #ffbd69;
  outline: 2px solid var(--yellow-highlight);
}

::selection {
  background-color: var(--color--primary);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--color--dark);
  background-color: var(--grey--lightest);
}

main {
  display: block;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  text-transform: none;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

a {
  background-color: transparent;
}

[hidden] {
  display: none;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

.site-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.site-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--grey--lightest);
}

.nav {
  margin: -10px 16px 0 auto;
}

.nav__list {
  display: none;
  background-color: var(--color--primary);
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.nav__list.fadeOut {
  display: block;
  animation: 0.25s ease-in-out forwards fadeOut;
}

.show-navigation {
  box-shadow: none;
}

.show-navigation .nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 212px;
  animation: 0.25s ease-in-out fadeIn;
}

.nav__link {
  display: block;
  padding: 0.93rem 1.68rem;
  font-size: 0.875rem;
  line-height: 1.7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font--normal);
  letter-spacing: 1px;
  color: var(--white);
  transition: background-color 0.25s ease-in-out;
}

.nav__link:hover {
  background-color: #515d97;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  width: 115px;
}

.line-1 {
  transform-origin: initial;
  transform: rotate(0deg) translateX(0px) translateY(0px);
  transition: all 0.25s ease-in-out;
}

.line-2 {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.line-3 {
  transform-origin: initial;
  transform: rotate(0deg) translateX(0px) translateY(0px);
  transition: all 0.25s ease-in-out;
}

.show-navigation .line-2 {
  opacity: 0;
}

.show-navigation .line-1 {
  transform: rotate(45deg) translateX(-3px) translateY(2px);
  transform-origin: 1px 13px;
}

.show-navigation .line-3 {
  transform: rotate(-45deg) translateX(-15px) translateY(-5px);
  transform-origin: 0px -1px;
}

@media (min-width: 600px) {
  .menu-toggle {
    display: none;
  }

  .site-header {
    align-items: center;
    padding: 1rem;
    background-color: var(--grey--lightest);
  }

  .site-header-container {
    display: initial;
    width: initial;
    padding: 0;
    background-color: transparent;
  }

  .nav {
    margin: 0;
  }

  .nav__list {
    display: flex;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
  }

  .nav__link {
    padding: 10px 17px;
    color: var(--color--dark);
    transition: color ease-in 0.25s;
  }
  .nav__link:hover {
    color: var(--color--primary);
    background-color: transparent;
  }
}

.intro {
  min-height: 100vh;
  padding: 5.5em 1em 0em;
  margin: 0 auto;
}

.intro__figure {
  grid-column: 1 / -1;
}

.intro__img {
  display: block;
  max-width: 100%;
  border-style: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.intro__content {
  position: relative;
  margin-left: 10px;
  margin-top: 20px;
}

.intro__title {
  font-size: 2.25rem;
  font-weight: var(--font--normal);
}

.intro__subtitle {
  margin: 0;
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 1.25;
}

.shape-triangle-left,
.shape-desktop-center,
.shape-desktop-right,
.shape-tablet-right {
  display: none;
}

.shape-mobile-right {
  position: absolute;
  top: -40px;
  right: -12px;
  z-index: -1;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr minmax(0, 172px) 2fr;
    align-items: center;
    max-width: 1440px;
  }

  .intro__figure {
    grid-column: 3 / 4;
    grid-row: 1;
    position: relative;
  }

  .intro__content {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .shape-triangle-left {
    display: block;
    position: absolute;
    left: -30px;
  }

  .shape-tablet-right {
    display: block;
    position: absolute;
    right: -12px;
    z-index: -1;
    bottom: -200px;
  }

  .shape-mobile-right {
    display: none;
  }
}

@media (min-width: 1100px) {
  .intro__content {
    grid-column: 1 / 2;
  }

  .intro__figure {
    justify-self: end;
  }

  .shape-desktop-center {
    display: block;
    position: absolute;
    top: 25%;
    left: -177px;
  }

  .shape-tablet-right {
    display: none;
  }

  .shape-desktop-right {
    display: block;
    position: absolute;
    right: -70px;
    z-index: 1;
    bottom: -50px;
  }
}

.projects {
  padding: 6em 0;
  position: relative;
}

.projects__header {
  margin-top: -7.8rem;
  padding: 2.06rem 0;
  font-size: 2rem;
  font-weight: var(--font--bold);
  text-align: center;
  line-height: 1.3;
}

.project__link {
  text-decoration: none;
  color: var(--purple);
}

.project__title {
  padding: 1rem 0 0.3rem 0;
  font-size: 1.125em;
  font-weight: var(--font--normal);
  color: var(--purple);
}

.project__details {
  font-size: 0.875em;
  color: var(--color--dark);
}

.project__item {
  margin: 1rem;
  background-color: var(--white);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  transition: box-shadow 0.25s ease-in-out;
}

.project__item--hidden {
  display: none;
}

.project__item:hover {
  box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
}

.project__img {
  background-color: var(--grey--lightest);
  background-image: var(--radial--gradient);
}

.project__img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.project__information {
  padding: 1em;
}

.project__divider {
  width: 100%;
  height: 3px;
  background-color: var(--purple);
}

.show-more-projects {
  display: block;
  margin: 3.5rem auto 0;
  padding: 0.8em 1.56em;
  text-transform: uppercase;
  font-size: 1em;
  font-family: inherit;
  font-weight: var(--font--bold);
  letter-spacing: 1px;
  color: var(--color--primary);
  border: 3px solid currentColor;
  background-color: var(--white);
  cursor: pointer;
}

.show-more-projects:hover {
  background-color: var(--color--primary);
  color: var(--white);
  border-color: var(--color--primary);
}

@media (min-width: 320px) {
  .project__divider {
    --purple: var(--light--green);
  }
}

@media (min-width: 600px) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
  }

  .project__img {
    --radial--gradient: radial-gradient(
      ellipse farthest-corner at 0 -140%,
      #f6e7e6 0%,
      hsla(288, 13%, 48%, 0.4) 70%,
      hsla(288, 13%, 48%, 0.2) 70%
    );
  }

  .project__divider {
    --purple: currentColor;
  }
}

@media (min-width: 1100px) {
  .project__img {
    --radial--gradient: radial-gradient(
      ellipse farthest-corner at 0 -140%,
      #f6e7e6 0%,
      hsla(224, 91%, 50%, 0.233) 70%,
      hsla(224, 91%, 50%, 0.171) 70%
    );
  }

  .project__divider {
    --purple: var(--light--blue);
  }
}

.contact {
  padding: 0 1rem 6rem;
}

.contact__header {
  font-size: 2em;
  text-align: center;
  margin-top: -4.375rem;
}

.contact__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1rem;
}

.contact__link {
  text-decoration: none;
}

.contact__link svg {
  transform: scale(1.5);
  transition: transform 0.25s ease-in-out;
}

.contact__link svg:hover {
  transform: scale(2);
}

.footer {
  padding: 1em 0;
  background-color: var(--purple);
  color: var(--white);
  background-image: url("../img/footer-pattern.svg");
  background-repeat: repeat;
}

.footer p {
  text-align: center;
  font-size: 0.85em;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    height: 212px;
    transform: translate3d(0, 0, 0);
  }

  50% {
    opacity: 1;
    height: 212px;
    transform: translate3d(70%, 0, 0);
  }
  75% {
    opacity: 1;
    height: 212px;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 0;
    height: 0px;
    transform: translate3d(200%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
